:root {
    --white: #fff;
    --light-grey: #bababa;
    --dark-green: #348238;
    --dark-grey: #333333;

    --light-green: #5bbb5e;
    --dark-orange: #FF5722;
    --middle-blue: #303F9F;
    --black: #000000;
}

.sidebarTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
}

.sidebarTitle h4 {
    color: var(--dark-green);
    font-weight: 800;
    font-size: 28px;
}


.onlineList .online img {
    width: 60px;
}

.onlineList .online {
    width: 60px;
    margin-right: 10px;
}

.onlineList .online::after {
    top: 42px;
    bottom: 5px;
}

.onlineList {
    display: flex;
    align-items: center;
    /* margin-bottom: 20px; */
}

.postRow {
    display: flex;
    align-items: center;
}

.postRow div {
    display: inline-flex;
    align-items: center;
    margin-right: 25px;
}

.postRow img {
    margin-right: 6px;
}

.postRow div img {
    width: 40px;
}

.postImage {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 5px;
}

.postText {
    color: var(--dark-grey);
    margin: 15px 0;
    font-size: 18px;
}

.user-prfile {
    display: flex;
    align-items: center;

}

.user-prfile img {
    width: 60px;
    margin-right: 10px;
}

.user-prfile p {
    font-size: 25px;
}

.user-prfile span {
    color: var(--dark-grey);
}

.post-container {
    margin-bottom: 20px;
    background: var(--white);
    border-radius: 6px;
    padding: 5px;
    color: var(--black);
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px 3%;

}

#profile {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 20vh;
    font-size: 35px;
}

#profilePic {
    width: 120px;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    height: 40vh;
    gap: 25px;
    position: sticky;
    top: 70px;
}

.right-sidebar {
    flex-basis: 22%;
    height: 80vh;
}


#profile,
.right-sidebar {
    background: var(--white);
    box-shadow: 0 0 10px var(--dark-green);
    position: sticky;
    border-radius: 6px;
    top: 70px;
    align-self: flex-start;
}

.main-content {
    flex-basis: 50%;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, sans-serif
}

li {
    margin-right: 100px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
}

li,
img {
    width: 40px;
    margin: 0px 0px;
}

li {
    list-style: none;
    display: inline-block;
}

.nav-right {
    display: flex;
    align-items: center;
    width: fit-content;
}

#titleHome {
    font-size: 2.7em;
    color: var(--dark-green);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    box-shadow: 0 0 20px var(--dark-green);
    padding: 0px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

body {
    background-color: var(--light-grey);
}

#createPost {
    position: sticky;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 13px;
    height: 13px;
    border: 2px solid var(--white);
    border-radius: 50%;
    background: var(--dark-green);
    position: absolute;
    top: 0;
    right: 0;
}

/* ************************************************************************** */

#logoutButton {
    width: fit-content;
    height: fit-content;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--dark-green);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--light-green);
}

#createPostModal {
    background-color: var(--white);
    width: 500px;
    margin: 0 auto;
    border: 2px solid var(--dark-green);
    border-radius: 10px;
}

.containerFormCreatePost {
    padding: 16px;
    max-width: 600px;
    margin: 0 auto;
}

#psw {
    width: 100%;
    height: 50px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: 1px solid var(--dark-green);
    border-radius: 6px;
    background: #f1f1f1;
}

#psw:focus {
    outline: none;
}

hr {
    border: 1px solid var(--dark-green);
    margin-bottom: 25px;
}

#createPostTitle {
    color: var(--dark-green);
    text-align: center;
}

.fileCreatePost{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.categorieCreatePost {
    margin-bottom: 20px;
}

fieldset {
    border: 1px solid var(--dark-green);
    padding: 20px;
    border-radius: 6px;
}

legend {
    font-weight: bold;
}

.createPostCheckboxContainer {
    display: flex;
    flex-wrap: wrap;
    
}

.createPostCheckboxContainer label {
    flex: 1 1 30%; /* Adjust percentage for different number of options per line */
    margin: 5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.createPost {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}